.concert-container {
    display: flex; 
    margin: 2%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.gen-nameplate {
    text-align: center;
    margin: 2%;
}

.concert-card {
    border: 2px solid black;
    width: max-content;
    margin-right: 2.5%;
    margin-left: 2.5%;
    margin-bottom: 3%;
    border-radius: 5px;
    /* background-color: firebrick; */
    background-color: black;
}

.concert-title {
    /* color: white; */
    color: #CC9900;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 2.5%;
    padding: 4%;
}

.concert-info {
    background-color: white;
    padding: 2%;
}

.concerts-past {
    opacity: .5;
}

.concerts-past .concert-title {
    color: white;
} 