@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif, monospace;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #FAFAFA;
}

.doc-container {
    position: relative;
    min-height: 100vh;
}

header {
    background-color: firebrick;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5%;
}

footer {
    background-color: firebrick;
    align-items: center;
    padding: 1%;
    position: absolute;
    bottom: 0;
    width: 100%;
}

a {
    text-decoration: none;
}

.nav-item {
    font-size: 20px;
    color: white;
    transition: all 0.3s ease 0s;
    margin-right: 30px;
}

.nav-item:hover {
    color: darkgray;
}

.rep-dropdown {
    display: inline-block;
}

.rep-dropdown:hover .rep-content {
    display: block;
}

.rep-content {
    display: none;
    position: absolute;
    background-color: firebrick;
    border-radius: 5px;
    min-width: 200px;
}

.rep-content a {
    display: inline-block;
    width: 100%;
    padding: 5%;
}

.brand {
    transition: all 0.5s ease 0s;
    cursor: pointer;
    font-size: 80px;
    font-family: 'Corinthia', Georgia, monospace;
    color: #F4F4F4;
    text-align: center;
}

.brand:hover {
    color: darkgray;
}

.container {
    display: flex; 
}

.panel { 
    display: inline-block;
    width: 50%;
    margin: 5%;
}

.active-item {
    text-decoration: underline;
}