.rep-container {
    display: flex; 
    margin: 1%;
    flex-wrap: wrap;
    justify-content: center;
}

.rep-card {
    width: max-content;
    padding: 3%;
    text-align: center;
}

.rep-table {
    margin-left: auto;
    margin-right: auto;
}

.rep-hdr {
    /* color: firebrick; */
    color: black;
    margin: 2%;
    text-align: center;
}

.rep-info {
    text-align: center;
}

.rep-title {
    font-weight: 600;
    text-align: center;
    margin: 2%;
}

table {
    border-collapse: collapse;
}

tr {
    border: 0.5px solid black;
}

td {
    padding: 3%;
    border-radius: 1px;
}